# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=8.217.93.123,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://8.217.93.123

# MySQL
DB_NAME=pet_agent_db
DB_USER=pet_agent
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=3306
